# Directorios de configuración y caché de Android Studio y Gradle
.gradle/
.idea/
build/
captures/
.externalNativeBuild/
.cxx/
local.properties

# Archivos generados por compilación
*.apk
*.ap_
*.dex
*.class
*.so
*.txt
*.log

# Archivos de Kotlin y Java ignorados
*.iml
*.jar
*.war
*.ear

# Archivos de base de datos y sistema
*.db
*.db-journal

# Archivos temporales de sistema operativo
.DS_Store
Thumbs.db
